<div class="container" style="background-color: lightblue;">
  <div style="padding-top:15px"></div>
  <form>
    <fieldset>
    <div class="form-group">
      <label> My Notes </label>
      <textarea type="text" class="form-control" placeholder="My notes"></textarea>
    </div>
    <div class="form-group">
      <label> Diary Title</label>
      <input type="text" class="form-control" placeholder="Diary Title">
      
    </div>

      <button type="button" class="btn btn-primary">Save</button>
    </fieldset>
  </form>
  <div style="padding-bottom:15px"></div>
</div>